*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #333;
    color: #fff;
}

a {
    color: #fff;
    text-decoration: none;
}

.active {
    background-color: #fff;
    color: #333;
}